<div class="container text-center">
  <% todays_date = Date.today.strftime("%b %d, %Y") %>
  <h1>Today the date is <%= todays_date %></h1>

  <ul>
    <% %w(ERB Middleman SCSS Ruby CSS HTML).each do |tech| %>
      <li>Today we are learning about <%= tech %></li>
    <% end %>

    <%= link_to "Cities", "/cities.html", class: 'btn btn-primary'  %>
</div>

